/**
    @file           basic.css
    @author         Eliran Pe'er (eliran@starwhale.com)
    @since          27/01/2016
    @version        1.0.0
    @type           CSS Stylesheet
    @description    The basic CSS stylesheet, which contains all the basic
                    defenitions that applies to all themes and windows.
*/

body {
    font-family: "Arial";
    font-size: 14px;
    margin: 0;
}

#left-pane {
	float: left;
    margin: 10px 0;
}
#right-pane {
    float: left;
    margin: 10px 0;
    margin-right: 10px;
}

#file-explorer-section {
    height: 100%;
    overflow: hidden;
    padding: 5px;
    -webkit-box-sizing: border-box;
}

#file-explorer-section ul {
    margin: 0px;
}

#code-editor-section {
    height: 93%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#code-editor-section #code-editor {
    width: 100%;
    outline: 0;
    -webkit-box-sizing: border-box;
    padding-left: 30px;
}

#code-editor-section .line-numbers {
    position: absolute;
    width: 20px;
}

#code-presentor {
    pointer-events: none;
    position:absolute;
    z-index: 999;
}

#tab-view {
    height: 7%;
    width: 100%;
}
