/**
    @file           basic.css
    @author         Eliran Pe'er (eliran@starwhale.com)
    @since          27/01/2016
    @version        1.0.0
    @type           CSS Stylesheet
    @description    The basic CSS stylesheet, which contains all the basic
                    defenitions that applies to all themes and windows.
*/

body {
    font-family: "Arial";
    font-size: 14px;
    margin: 0;
}

#left-pane {
    height: 100vh;
	float: left;
}
#right-pane {
    height: 100vh;
    float: left;
}

#file-explorer-section {
    height: 100%;
    overflow: hidden;
}

#file-explorer-section ul {
    margin: 0px;
}

#code-editor-section {
}

#code-editor-section #code-editor {
    margin: 10px;
    padding: 10px;
}
